flow.json
[
    {
        "id": "6b45514309f1f2db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8438e5342de171af",
        "type": "inject",
        "z": "6b45514309f1f2db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "f15184aec6eaf50d"
            ]
        ]
    },
    {
        "id": "e4551b9de75e4a8b",
        "type": "debug",
        "z": "6b45514309f1f2db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "f15184aec6eaf50d",
        "type": "function",
        "z": "6b45514309f1f2db",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "e4551b9de75e4a8b"
            ]
        ]
    }
]